.judul-dua{
  position: relative;
  text-align: right;
  height: 0;
  top: 10vw;
  right: 10vw;
}
.profile-picture{
  width: 20vw !important;
  height: 20vw !important;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  position: relative;
  top: calc(-10.5vw - 2rem);
  margin-bottom: calc(-10.5vw - 2rem);
  background-size: cover;
  float: none !important;
  /*left: calc(50% - 10vw);*/
  background-position: center;
}
.fake{
  height: 10vw;
}
.page-header{
  /*box-shadow: 0 2px 2px rgba(0, 0, 0, .4);*/
  text-align: left;
  background-attachment: fixed;
}
.float-bar{
  position: fixed;
  width: 100%;
  padding: 15px 20%;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  top: 0;
  left: 0;
  z-index: 999;
}
.pp-mini{
  width: 4vw;
  height: 4vw;
  background-image: url(../img/a.jpg);
  background-size: cover;
  border-radius: 50%;
  float: left;
}
.title-mini{
  position: relative;
  float: right;
  font-size: 2.6vw;
  color: white;
}